/* 
.divHead  {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7940a1;
  background-image: url("https://www.transparenttextures.com/patterns/tree-bark.png");
  width: 100vw;
}
h2  {
  display: flex;
  justify-content: center;
  color: gold
} 
 */
